In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.7/dist-packages (4.0.1)

In [2]:
!pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.0.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.0-py3-none-any.whl (266 kB)
     |████████████████████████████████| 266 kB 5.2 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.0

In [3]:
!pip3 install dnspython

Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.0)

# Import Modules

In [51]:
import pymongo
import datetime                            # Imports datetime library
import json
from pymongo import MongoClient, InsertOne



```
# This is formatted as code
```

# Create student Database and collections

In [56]:
uri ='mongodb+srv://aadhavan:CEU9pENh4tXSWkQ5@cluster0.ow0vu.mongodb.net/db_telephone?retryWrites=true&w=majority'
client = MongoClient(uri)

In [57]:
client.list_database_names()

['db_students',
 'db_telephone',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [58]:
db = client["db_telephone"]

In [59]:
client.list_database_names()

['db_students',
 'db_telephone',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [60]:
mycol = db["directory"]

# Insert Collections

In [61]:
mydict = [{'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  'name': 'Bill gates'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  'name': 'Stefen'}]

x = mycol.insert_many(mydict)

In [62]:
type(x)

pymongo.results.InsertManyResult

# Query Collections

In [71]:
y = mycol.find()

In [65]:
list(y)

[{'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621ef8fbc25a4d6315fdcd5d'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621efa3dc25a4d6315fdcd5e'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621efa6cc25a4d6315fdcd5f'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621f1638c25a4d6315fdcd64'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621f1638c25a4d6315fdcd65'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd66'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd67'),
  'name': 'Stefen'}]

In [66]:
z = mycol.find({'name':'Mark'})
list(z)

[{'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621efa3dc25a4d6315fdcd5e'),
  'name': 'Mark'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621f1638c25a4d6315fdcd65'),
  'name': 'Mark'}]



```
# This is formatted as code
```

# Update and Query Collections

In [67]:
myquery = { "name": "Stefen" }
newvalues = { "$set": { "name": "Bill gates" } }
update = mycol.update_one(myquery,newvalues)

In [68]:
list(mycol.find())

[{'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621ef8fbc25a4d6315fdcd5d'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621efa3dc25a4d6315fdcd5e'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621efa6cc25a4d6315fdcd5f'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621f1638c25a4d6315fdcd64'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621f1638c25a4d6315fdcd65'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd66'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd67'),
  'name': 'Bill gates'}]

# Query Deletions

In [69]:
myquery = { "name": "Stefen" }

mycol.delete_one(myquery)

In [70]:
list(mycol.find())

[{'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621ef8fbc25a4d6315fdcd5d'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621efa3dc25a4d6315fdcd5e'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621efa6cc25a4d6315fdcd5f'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 12346789',
  'Place': 'Madurai',
  '_id': ObjectId('621f1638c25a4d6315fdcd64'),
  'name': 'John'},
 {'Phone_number': '+91 123432329',
  'Place': 'Chennai',
  '_id': ObjectId('621f1638c25a4d6315fdcd65'),
  'name': 'Mark'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd66'),
  'name': 'Bill gates'},
 {'Phone_number': '+91 4553432329',
  'Place': 'Coimbatore',
  '_id': ObjectId('621f1638c25a4d6315fdcd67'),
  'name': 'Bill gates'}]